In [ ]:
create table customer(
	customer_id serial primary key,
	customer_name varchar,
	city varchar
);

insert into customer(customer_name, city)
values ('John Doe', 'New York'),
		('Jane Smith', 'Los Angeles'),
		('David Johnson', 'Chicago');

create table orders(
	order_id serial primary key,
	customer_id integer,
	order_date date,
	total_amount numeric,
	foreign key (customer_id)
		references customer(customer_id)
);

insert into orders(customer_id, order_date, total_amount)
values (1,'2022-01-20', 100.00),
		(1,'2022-02-15', 150.00),
		(2,'2022-03-20', 200.00),
		(3,'2022-04-25', 50.00);


select customer_name  
from customer;